# Node
node_modules/
npm-debug.log*
dist/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Variables de entorno (NUNCA al repo)
.env
**/.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Uploads temporales
uploads/
temp_uploads/